:root {
    --textColor: #000;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--textColor);
}

.container {
    margin: 0 auto;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.bg {
    display: flex;
}

@media (max-width: 768px) {
    .container {
        margin: auto;
        padding: 30px;
    }    
}