.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .home_conteiner {
} */

.home_content {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.home_text {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_title {
    font-size: 36px;
    padding-bottom: 50px;
}

.header_description {
    font-size: 18px;
}

/* .home_btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 50px;
    border-radius: 10px;
    background: #5759FB;
    margin: auto;
    margin-top: 50px;
}

.home_btn-text {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

.home_img{
    display: flex;
    align-items: center;
    width: 150%;
    height: auto;
}

@media (max-width: 768px) {
    .home_img{
        display: none;
    }
}