.header_container {
    padding: 0 30px;
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 70px;
}

.header_row {
    display: flex;
    column-gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.header_logo span {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header_nav {
    display: flex;
    align-items: center;
    column-gap: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header_nav ul {
    align-items: center;
    display: flex;
    column-gap: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header_nav a {
    color: var(--text-color)
}

/* Добавьте медиа-запрос для отображения кнопки бургер-меню на мобильных устройствах */
@media (max-width: 768px) {
    .header_nav {
        display: none; /* Скрыть меню на мобильных устройствах по умолчанию */
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #FFF;
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .menu-icon-bar {
        width: 35px;
        height: 2px;
        background-color: #000;
        margin: 4px 0;
    }

    .cross {
        transform: rotate(45deg);
        margin: 0;
    }
    .-cross {
        transform: rotate(-45deg);
        margin: 0;
    }

    .header_nav.open {
        display: flex; /* Отображать меню, когда isMenuOpen равно true */
    }

    .header_nav ul {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}