.tabs_container {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
}

.tabs button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}

.tabs button:disabled {
    background: linear-gradient(245.39deg, #6595fc -35.14%, #0500FF 143.06%);
    color: white;
}

.title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    padding: 50px 80px;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.content, button {
    font-size: 15px;
}

@media (max-width: 768px) {

    .tabs_container {
        width: 100%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .content {
        padding: 50px;
    }
}