.tabs {
    display: flex;
    justify-content: space-between;
}

.tab-button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    background-color: #d9d9d9b8;
    transition: all 0.5s ease-out;
}

.tab-button.active {
    color: white;
    background-color: #0400ff;
}

.tab-button:hover {
    color: white;
    background: linear-gradient(245.39deg, #FC65ED -35.14%, #0500FF 143.06%);
}

.title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    padding: 50px 80px;
    background-color: white;
}

.content, button {
    font-size: 15px;
}

@media (max-width: 768px) {

    .tabs_container {
        width: 100%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .content {
        padding: 20px;
    }
}